/**
 * Gallery CSS - default theme
 */


/*********************************************************************
 * Links
 */

A:link {
	text-decoration:none;
	color: green;
	}

A:visited {
	text-decoration:none;
	color: green;
	}

A:hover  {
	color: red;
	background-color: #e8e8ff;
	}


/*********************************************************************
 * Body
 */

body {
	background: #124;
	color: yellow;
	}

