/**
 * Gallery CSS - default theme
 */


/*********************************************************************
 * Links
 */

A:link {
	text-decoration:none;
	color: green;
	}

A:visited {
	text-decoration:none;
	color: green;
	}

A:hover  {
	color: red;
	background-color: #e8e8ff;
	}


/*********************************************************************
 * Body
 */

body  {
	background-color: #102040;
	color: orange;
	}

div#everything  {
	padding-left:  10px;
	padding-right: 10px;
	}

div#top  {
	}

/* top_box = line around the thumbnail bar contents, using jquery ui's box */
div#top_box  {
	border: 1px solid #dab48b;  /* Must match line#53 of jquery-ui : .ui-widget-content { 1px solid #... }  */
	}

div#filters  {
	}

/* filters_box = line around the filters, using jquery ui's box */
div#filters_box  {
	border: 1px solid #dab48b;  /* Must match line#53 of jquery-ui : .ui-widget-content { 1px solid #... }  */
	}

div#left  {
	}

div#main  {
	}

div#main_box  {
	border: 1px solid #dab48b;  /* Must match line#53 of jquery-ui : .ui-widget-content { 1px solid #... }  */
	background: #24315c;
	}

div#footer  {
	clear: both;
	}

#footer_box  {
	border: 1px solid #dab48b;  /* Must match line#53 of jquery-ui : .ui-widget-content { 1px solid #... }  */
	background: #24315c;
	}

/* The tilde between the yyyy-mm-dd and the time in the 'this image' tab in the gallery */
font.date_tilde  {
	color: grey;
	}

/* Various headings - such as 'Filtering on:' or 'Keyword:', 'Location:' and so on,
   where we want to understate them somewhat - typically this involves greying them
   out slightly. */
font.various_headings {
	color: grey;
	}

/* deletelink class created for filter links where clicking them is *destructive*
   so we want to highlight that.  I expect it will consistently be RED */
a.deletelink:hover  {
	background-color: red;
	color: pink;
	}

/* Thumbnail images get custom hover/border/etc colours because they are actually href links */
A.img_thumb:link  {
	color: #00ff00;
	}
A.img_thumb:active  {
	color: #ff0000;
	}
A.img_thumb:visited  {
	color: #ffFF00;
	}
A.img_thumb:hover  {
	color: green;
	border-bottom: 1px solid;
	}
