/**
 * Gallery CSS - default theme
 */


/*********************************************************************
 * Links
 */

A:link {
	text-decoration:none;
	color: green;
	}

A:visited {
	text-decoration:none;
	color: green;
	}

A:hover  {
	color: red;
	background-color: #e8e8ff;
	}


/*********************************************************************
 * Body
 */

body  {
	background-color: #102040;
	color: orange;
	/*min-width: 550px;*/
	font-size: 82%;
	}

div#everything  {
	padding-left:  10px;
	padding-right: 10px;
	}

div#top  {
	}

div#left  {
	}

div#main  {
	}

div#main_box  {
	border: 1px solid #000;
	background: #24315c;
	}

div#footer  {
	clear: both;
	}

#footer_box  {
	border: 1px solid #000;
	background: #24315c;
	}

/* The tilde between the yyyy-mm-dd and the time in the 'this image' tab in the gallery */
font.date_tilde  {
	color: grey;
	}
