/**
 * Gallery CSS - primary stylesheet (gets cascaded by gallery.css
 *               files located in the sub-directories for different
 *               themes .. as cascading stylesheets tend to do).
 *
 *               Consequently most stuff in here is spacing and
 *               the like, with colours being the main differences
 *               in the THEME/gallery.css files.
 */


/*********************************************************************
 * Links
 */

A:link {
	text-decoration:none;
	}

A:visited {
	text-decoration:none;
	}

A:hover  {
	background-color: #e8e8ff;
	}


/*********************************************************************
 * Body
 */

body  {
	font-size: 82%;
	}

div#everything  {
	padding-left:  10px;
	padding-right: 10px;
	}

div#top  {
	clear: both;
	height: 90px;
	/* background-color: #235; */
	padding: 4px;
	}

div#left  {
	float: left;
	width: 245px;
	padding-top: 7px;
	padding-left: 5px;
	}

div#main  {
	padding-bottom: 10px;
	padding-left: 5px;
	margin-left: 255px;
	font-size: 100%;
	}

div#footer  {
	padding-top: 7px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	margin-right: 10px;
	clear: both;
	font-size: 60%;
	}

#footer_box  {
	position: relative;
	width: 100%;
	padding: 1em;
	letter-spacing: 2;
	}
