/**
 * Gallery CSS - primary stylesheet (gets cascaded by gallery.css
 *               files located in the sub-directories for different
 *               themes .. as cascading stylesheets tend to do).
 *
 *               Consequently most stuff in here is spacing and
 *               the like, with colours being the main differences
 *               in the THEME/gallery.css files.
 */


/*********************************************************************
 * Links
 */

A:link {
	text-decoration:none;
	}

A:visited {
	text-decoration:none;
	}

A:hover  {
	background-color: #e8e8ff;
	}


/*********************************************************************
 * Body
 */

body  {
	font-size: 82%;
	}

/* Everything = everything inside <body></body> */
div#everything  {
	padding-left:  10px;
	padding-right: 10px;
	}

/* top = thumbnail bar */
div#top  {
	clear: both;
	height: 90px;
	padding-left: 4px;
	padding-bottom: 8px;
	padding-top: 0px;
	text-align: center;
	}

/* top_box = line around the thumbnail bar contents, using jquery ui's box */
div#top_box  {
	padding: 3px;
	height: 84px;
	}

/* filters = filter bar - entirely optional (hidden by PHP if no filters exist) */
div#filters  {
	clear: both;
	height: 1.64em;
	padding-left: 4px;
	padding-top: 0px;
	padding-bottom: 8px;
	}

/* filters_box = line around the filters bar, using jquery ui's box */
div#filters_box  {
	padding: 3px;
	height: 1.36em;
	}

/* left-side, above ThisImage/Explorifer - offers Prev / next buttons for basic navigation */
div#prev_next_box  {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	width: 244px;
	text-align: center;
	}

div#left  {
	float: left;
	width: 245px;
	padding-left: 5px;
	}

div#main  {
	padding-bottom: 10px;
	padding-left: 0px;
	margin-left: 255px;
	font-size: 100%;
	}

/* main_box = line around the main contents, using jquery ui's box */
#main_box  {
	/*position: relative;*/
	padding: 5px;
	}

div#footer  {
	padding-left: 4px;
	padding-top: 7px;
	padding-bottom: 5px;
	clear: both;
	font-size: 70%;
	}

/* footr_box = line around the footer contents, using jquery ui's box */
#footer_box  {
	}

/* unordered list used for 'this image' tag information */
ul.image_tags_headings  {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 100%;
	text-indent: 0px;
/*	font-weight: bold;*/
	list-style-position: outside;
	padding: 0px;
	list-style-type: none;
}

ul.image_tags  {
/*	color: green;*/
	font-size: 82%;
	list-style-position: outside;
	padding-left: 1.0em; /* change to 1.5 if using disc/circle */
	list-style-type: none ; /* none, disc, circle */
}

ul.explorifier_tags  {
	font-size: 82%;
	margin-top: -0.5em;
	margin-bottom: -0.5em;
	padding-top: 0px;
	margin-left: -1.3em; /* This means fewer of them wrap to 2 lines */
	list-style-position: outside;
	padding-left: 0em; /* change to 1.5 if using disc/circle */
	list-style-type: none ; /* none, disc, circle */
}

/* The tilde between the yyyy-mm-dd and the time in the 'this image' tab, the
   tag counts in parenthesis after each tag in various category lists .. etc
   We generally grey it and make it smaller, but it's very much a theme thing.  */
font.subdued  {
	}

/* Various headings - such as 'Filtering on:' or 'Keyword:', 'Location:' and so on,
   where we want to understate them somewhat - typically this involves greying them
   out slightly.
   This is mostly here for a placeholder, as it's usually the colour we change, and
   that goes into the theme/gallery.css files */
font.various_headings {
	font-size: 90%;
	}

/* deletelink class created for filter links where clicking them is *destructive*
   so we want to highlight that.  This is for placeholder only, as we'll set the
   colour only, I expect - though I also expect it will consistently be RED */
a.deletelink:hover  {
	}

/* Thumbnail images get custom hover/border/etc colours - defined elsewhere - these are placeholders */
A.img_thumb:link  {
	border: none;
	}
A.img_thumb:active  {
	border: none;
	}
A.img_thumb:visited  {
	border: none;
	}
A.img_thumb:hover  {
	border: none;
	}

/* Thumbs get one of two types of borders:
   a) current thumb gets colourful highlight,
   b) all others get border of same dimensions but using bg colours

   Needless to say, the actual colours are defined in the theme's CSS.
   */
.thumb_highlight {
	}

.thumb_normal {
	}

/* Tooltip is the jquery plugin to show dates on the TITLE tag of the slider.
 * As usual, size and stuff is defined here, theme-css sets colours  */
#tooltip {
	position: absolute;
	z-index: 3000;
	padding: 7px;
	opacity: 0.85;
	font-size: 100%;
	font-style: none;
	}

#tooltip h3, #tooltip div  {
	margin: 0;
	font-style: none;
	font-size: 100%;
	}


/* The accordion is used in the explorifier - and since we've got
   pixel-based widths for that whole left-side widget, we can be
   Very Accurate with getting the most out of the space for the
   accordion itself.  Probably not configured different in each
   theme, at a guess. */
div#accordion {
	margin-left: -18px;
	margin-top: -11px;
	margin-bottom: -13px;
	padding: 0px;
	width: 237px;
	}
