/**
 * Gallery CSS - threecolumn theme - what the others were based on originally,
 * until I decided to have Picture and Tag explorifiers share the left navigation
 * panel, and use virtual tabs at the top to toggle between them.  Kept here just
 * in case I ever want to revert to three columns .. plus left & right fixed
 * width columns with liquid middle column is tricky to get right, so might
 * be useful later on, elsewhere.
 */


/*********************************************************************
 * Links
 */

A:link {
	text-decoration:none;
	color: green;
	}

A:visited {
	text-decoration:none;
	color: green;
	}

A:hover  {
	color: red;
	background-color: #e8e8ff;
	}


/*********************************************************************
 * Body
 */

body  {
	background-color: #124;
	color: orange;
	/*min-width: 550px;*/
	font-size: 82%;
	}

div#everything  {
	padding-left:  10px;
	padding-right: 10px;
	}

div#top  {
	clear: both;
	height: 90px;
	/* background-color: #235; */
	padding: 4px;
	}

div#left  {
	float: left;
	width: 150px;
	background-color: #346;
	padding-top: 7px;
	padding-left: 5px;
	}

div#right  {
	float: right;
	width: 220px;
	}

div#middle  {
	padding: 0px 160px 5px 160px;
	margin: 0px;
	font-size: 100%;
	}

div#footer  {
	padding-top: 7px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	clear: both;
	background-color: #235;
	font-size: 60%;

	}

